Repository oSoc19/engie-switch, pull requests merged in 2019-07, with the labels that each got.

#45 Feature challenge
  hackathon/hackathon_frontend/src/components/ChallengeCard.vue
  hackathon/hackathon_frontend/src/main.js
  switch_frontend/src/App.vue
  switch_frontend/src/assets/img/fridge.jpg
  switch_frontend/src/components/ChallengeCard.vue
  switch_frontend/src/css/variables.css
  switch_frontend/src/main.js
  switch_frontend/src/views/Challenges.vue
Labels: Front end

#69 Feature feed
  switch_frontend/src/App.vue
  switch_frontend/src/assets/img/avatar.jpg
  switch_frontend/src/components/ChallengeCard.vue
  switch_frontend/src/components/FeedCard.vue
  switch_frontend/src/utils/checkImage.js
  switch_frontend/src/views/Home.vue
Labels: front-end

#74 Feature user token
  switch_backend/package-lock.json
  switch_backend/package.json
  switch_backend/src/checkToken.js
  switch_backend/src/config.js
  switch_backend/src/createToken.js
  switch_backend/src/routes/challenges/index.js
  switch_backend/src/routes/posts/index.js
  switch_backend/src/routes/users/index.js
Labels: back-end

#96 update login so that it returns user
  switch_backend/src/routes/users/index.js
Labels: back-end, high-priority

#97 explain errors a bit better
  switch_backend/src/checkToken.js
Labels: back-end
